@font-face {
    font-family: lato;
    src: url(font/Lato/Lato-Black.ttf);
    src: url(font/Lato/Lato-Bold.ttf);
    src: url(font/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: opensans;
    src: url(font/OpenSans/OpenSans-Bold.ttf);
    src: url(font/OpenSans/OpenSans-SemiBold.ttf);
    src: url(font/OpenSans/OpenSans-Medium.ttf);
    src: url(font/OpenSans/OpenSans-Regular.ttf);
}



